<h2><%= t("tasks.task_new")%></h2>
<%= form_for(@task) do |f|  %>
  <%= f.label :title, t("tasks.task_title") %>
  <%= f.text_field :title %>
  <%= f.label :description, t("tasks.task_description") %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>

<%= link_to t("tasks.task_home"), tasks_path  %>

