<h2>新增待辦事項</h2>
<%= form_for(@task) do |f|  %>
  <%= f.label :title, "任務名稱" %>
  <%= f.text_field :title %>
  <%= f.label :description, "任務描述" %>
  <%= f.text_field :description %>
  <%= f.submit "建立" %>
<% end %>

<%= link_to "回任務列表", tasks_path  %>
