<!DOCTYPE html>
<html>
  <head>
    <title>TodoList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/notice" if notice %>
    <%= link_to "中文版", :locale => "zh-TW" %>
    <%= link_to "English", :locale => "en" %> 
    <%= yield %>
  </body>
</html>
